template(name='settings')
  .container
    h1 Settings
    .container
      form.form-horizontal
        .form-group
          label.col-sm-2.control-label Colour Style
          .col-sm-5
            .color-block(id="pink" style="background-color:#FFCCCC;")
            .color-block(id="yellow" style="background-color:#FFFFCC;")
            .color-block(id="blue" style="background-color:#AFEEEE;")
            .color-block(id="green" style="background-color:#CCFFFF;")              
          .col-sm-5
            span(id="result")