template(name='css')
  .theme
    h1 CSS
  .container
      .col-md-9
        .contents
          h2(id='cssCss').page-header .css()
          .row
            ol
              li 抽取某elem的css状态值，如
                .row
                  code $( elem ).css( "background-color","#FFFFCC" )
                .row
                  .col-sm-1
                    p Click it
                  .col-sm-3
                    .cssColor(style="background-color:#FFCCCC;")
                    .cssColor(style="background-color:#FFFFCC;")
                    .cssColor(style="background-color:#AFEEEE;")
                    .cssColor(style="background-color:#CCFFFF;")              
                  .col-sm-5
                    span(id="result")
              li 给某elem换上后面的css状态，如
                p.cssCss2 Move the mouse over here or the one under.
                p.cssCss2 What do you see.

         .contents
           h2(id="hasClass").page-header .hasClass()
           .row  
            ul 
              li 有这个class的，返回true         
                p 例子：
                  code $( "#" ).append( $( "p:first" ).hasClass( "selected" ).toString() ); 
                p 详见
                  a(href='http://api.jquery.com/hasClass/') http://api.jquery.com/hasClass/

         .contents
           h2(id="addClass").page-header .addClass()
           .row  
            ul
              li 给某elem增加一个Class
                code 

         .contents
           h2(id="removeClass").page-header .removeClass()
           .row  
            ul
              li 去掉某Class
                code 
                
         .contents
           h2(id="offset").page-header .offset()
           .row 
            ul
              li 位移，仅有.left和.top两个属性，分别为距左和距右的值
            ol
              li 抽取某elem的位移状态值，如
                p
                  code var offset = $( this ).offset();
                p
                  code $( "#result" ).text( this.tagName + " coords ( " + offset.left + ", " + offset.top + " )" );
              li 给某elem换上后面的位移值，如
                p
                  code $( "p:last" ).offset({ top: 10, left: 30 });


         .contents
           h2(id="untry").page-header Untry
            a(href="#untry")
              span
           .row  
            ul
              li .cssHooks
              li .cssNumber
                  




      .col-md-3
        nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.affix-top 
          ul.nav.bs-docs-sidenav
            li
              a(href="#cssCss") .css()
            li 
              a(href="#hasClass") .hasClass()
            li 
              a(href="#addClass") .addClass()
            li 
              a(href="#removeClass") .removeClass()   
            li
              a(href="#offset") .offset()                       
            li
              a(href="#untry") untry