template(name='css')
  .container
    h1(id="cssCss") CSS
  .container
    .row
      .col-md-9
        .contents
          h2.page-header .css()
          span(id="result")





      .col-md-3
        nav.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm.affix-top    
          ul.nav.bs-docs-sidenav
            li
              a(href="#cssCss") .css()